html
	include partials/header.jade
	body
		h1='Spotify Reddit'
		=currentUser.email
		if authenticated
			p='You have already connected your spotify account'
		else
			p(data-generate-auth='true')='Get your daily playlist'
	include partials/footer.jade